<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head> 



<header class="header">

    <div class="title">
        <h1>Datadog  vs  Azure Monitor
            <img class="logo" src="https://symbols.getvecta.com/stencil_78/21_datadog.de25ce0081.svg" alt="Datadog Logo" style="width:260px;height:60px;"/>
        </h1>
    
    
    </div>

	<nav>
        <a href="#" onClick="document.getElementById('top').scrollIntoView();">Azure</a>
        <a onClick="document.getElementById('1').scrollIntoView();">Offerings</a>
        <a onClick="document.getElementById('3rd').scrollIntoView();">Pricing</a>
        <a onClick="document.getElementById('4th').scrollIntoView();">Differentiators</a>
        <a onClick="document.getElementById('5th').scrollIntoView();">Datadog</a>
        
        <div id="indicator"></div>
    </nav>
</header>


<body>
    <div class="container" id="top">
        <video autoplay muted loop>
            <source src="{{ url_for('static', filename='AZURE2.mp4') }}" type="video/mp4">
        </video>

        <div class="overlay">
            <div class="text">
                <br>
                <br>

                <h1> What is </h1>
                <h3>Azure Monitor? </h3>
                <p>Azure Native cloud monitoring platform</p>
                <br>
                
                <div id="explorebutton" onClick="document.getElementById('1').scrollIntoView();"></div>
            </div>
        </div>
    </div>
 
    <div class= "container2" id="1">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Workbooks</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Insights</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Tests</a>
            </nav>
        </div>  
        
        <img src="https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/media/metrics-charts/metrics-zoom-control.gif" />
        <div class="text3">
            <h3>Metrics</h3>
            <br>
            <br>
            <h2>Metrics Explorer</h2>
            <p>
                Analyze metrics from any Azure resource. 
                Higest granularity is 1 minute with 30 day queryable data.
            </p>
            <h2>Live Metrics Stream</h2>
            <p>
                1 second latency for .NET applications.
                No retention, discarded immediately. Requires SDK installation in applciation.
            </p>
            <br>
            <br>
            <br>

        </div>
    </div>

    <div class= "container3" id="2">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Workbooks</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Insights</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Tests</a>
            </nav>
        </div>

        <img src="https://miro.medium.com/max/1400/1*gI_nXw61vxLYXPHU7O9m-g.gif"/>
        <div class="text3black">
            <h3>Alerting</h3>
            <br>
            <br>
            <h2>Alert Rules</h2>
            <p>
                Target resource that is watched at a set granularity. 
                The evaluated metric is passed through a logic test then tied to a action group
                or monitor condition.
            </p>
            <br>
            <br>
        </div>


        </div> 
    </div>

    <div class= "container4" id="3">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Workbooks</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Insights</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Tests</a>
            </nav>
        </div> 

        <img src="https://platform.deloitte.com.au/hs-fs/hubfs/MEX%20-%20Blog%20images/MEX%20-%20Author%20-%20Paco%20de%20la%20Cruz/201712%20LogicApps%20Queries/21%20Save%20and%20Export%20Query.gif?width=751&height=396&name=21%20Save%20and%20Export%20Query.gif"/>
        <div class="text3">
            <h3>Log Analytics</h3>
            <br>
            <br>
            <h2>Alert Rules</h2>
            <p>
                Requires Kusto Query Language. Log queries are done in the editor for
                simple queries that return records to complex queries that perform
                statistical analysis. Logs can be explorted to dashboards.
            </p>
            <br>
            <br>
            <br>
        </div>
        
    </div>

    <div class= "container5" id="4">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Workbooks</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Insights</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Tests</a>
            </nav>
        </div> 

        <img src="https://raw.githubusercontent.com/Sheelnidhi-g/Azure-Automation-Update-Management-Workbooks/master/images/2019-06-26_11-42-17.gif"/>
        <div class="text3">
            <h3>Workbooks</h3>
            <br>
            <br>
            <h2>Interactive Reports</h2>
            <p>
                Combine data from various Azure services, log queries, metrics, parameters
                into aesthetic interactive reports. 
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <div class= "container6" id="5">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Workbooks</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Insights</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Tests</a>
            </nav>
        </div>

        <img src="https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/transaction-diagnostics/profilertraces.png"/>
        <div class="text3black">
            <h3>Insights</h3>
            <br>
            <br>
            <h2>Application Insights</h2>
            <p>
                Application specific tools such as 
                alerts, application map, profiler (flame graph),
                dashboards, live metrics stream, snapshot debugger, continuous export.
                <br>
                <br>
                Additional insights for VMs, storage services, etc.
            </p>
            <br>
            <br>         
        </div>

    </div>

    <div class="container7" id="6">
        <div class="offerings">
            <nav>
                <a onClick="document.getElementById('1').scrollIntoView();">Metrics</a>
                <a onClick="document.getElementById('2').scrollIntoView();">Alerting</a>
                <a onClick="document.getElementById('3').scrollIntoView();">Logs</a>
                <a onClick="document.getElementById('4').scrollIntoView();">Workbooks</a>
                <a onClick="document.getElementById('5').scrollIntoView();">Insights</a>
                <a onClick="document.getElementById('6').scrollIntoView();">Tests</a>
            </nav>
        </div> 
        
        <img src="https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/monitor-web-app-availability/create-test.png"/>
        <div class="text3black">
            <h3>Ping and Multi-step Web Tests</h3>
            <br>
            <br>
            <h2>Ping Tests</h2>
            <p>
                Validate endpoint and web component response times.
            </p>
            <h2>Multi-step Web Tests</h2>
            <p>
                Requires VS code. Monitors sequences of URL requests and interactions.
            </p>
     
        </div>

    </div>
 
    <div class="container8" id="3rd">

        <div class="topbox-pricing">
            <h1>Pricing</h1>
        </div>

        <div class="pricing-box-container">
            <div class="pricing-box text-center">
                <h5>Free</h5>
                <p class="price"><sup>$</sup>0<sub>/mo</sub></p>
                <ul class="features-list">
                    <li><strong></strong> Standard Activity Logs and Metrics</li>
                    <li><strong></strong> 150MB custom metrics</li>
                    <li><strong></strong> Log Data is retained for 31 days</li>
                    <li><strong></strong> Application insights Data is retained for 90 days</li>
                    <li><strong></strong> 10 Monitored Metric Alerts</li>
                
                
                </ul>
                <a href="https://azure.microsoft.com/en-us/pricing/details/monitor/" class="btn-primary">Learn More</a>
            </div>
        
            <div class="pricing-box text-center">
                <h5>Log Ingestion</h5>

                <p class="price"><sup> Pay-as-you-go $</sup>2.76<sub>/gb</sub></p>
                <p class="price"><sup> First Tier $</sup>2.20<sub>/gb</sub></p>
                <p class="price"><sup> Last Tier $</sup>1.81<sub>/gb</sub></p>
                <p class="price"><sup>Retention $</sup>0.12<sub>/GB/mo</sub></p>
                <ul class="features-list">
                    <li><strong></strong>Tiers are based on GB commitment</li>
                    <li><strong></strong>Tiers range from 100GB/day to 5,000GB/day</li>
                   
                    <br>
                </ul>
                <a href="https://azure.microsoft.com/en-us/pricing/details/monitor/" class="btn-primary">Learn More</a>
            
            </div>
        
            <div class="pricing-box text-center">
                <h5>Web Tests</h5>
                <p class="price"><sup>Ping Test $</sup>0<sub></sub></p>
                <p class="price"><sup>Multi-step Test $</sup>10<sub></sub></p>
                <ul class="features-list">
                    <li><strong></strong>Ping Tests are free</li>
                    <li><strong></strong>Multi-step Web test cost is per test per month</li>
              
                    
                   
                </ul>
                <a href="https://azure.microsoft.com/en-us/pricing/details/monitor/" class="btn-primary">Learn More</a>
            </div>

            <div class="pricing-box text-center">
                <h5>Custom Metrics</h5>
                <p class="price"><sup>Tier 1 $</sup>0.25<sub>/MB/mo</sub></p>
                <p class="price"><sup>Tier 2 $</sup>0.15<sub>/MB/mo</sub></p>
                <p class="price"><sup>Tier 3 $</sup>0.06<sub>/MB/mo</sub></p>
                <p class="price"><sup>API calls $</sup>0.01<sub>/1000</sub></p>


                <ul class="features-list">
                    <li><strong></strong>Tier 1 | 150-100,000MB</li>
                    <li><strong></strong>Tier 2 | 100,000-250,000MB</li> 
                    <li><strong></strong>Tier 3 | >250,000MB</li> 
                    
                </ul>
                <a href="https://azure.microsoft.com/en-us/pricing/details/monitor/" class="btn-primary">Learn More</a>
            </div>

            <div class="pricing-box text-center">
                <h5>Alerts</h5>
                <p class="price"><sup>$</sup>0.10<sub>/metric/mo</sub></p>
                <p class="price"><sup>Tier 1 $</sup>0.50<sub>/log/mo</sub></p>
                <p class="price"><sup>Tier 2 $</sup>1.00<sub>/log/mo</sub></p>
                <p class="price"><sup>Tier 3 $</sup>1.50<sub>/log/mo</sub></p>

                <ul class="features-list">
                    <li><strong></strong>Tier 1 | 15-min granularity</li>
                    <li><strong></strong>Tier 2 | 10-min granularity</li> 
                    <li><strong></strong>Tier 3 | 5-min granularity</li> 
                    
                    
                </ul>
                <a href="https://azure.microsoft.com/en-us/pricing/details/monitor/" class="btn-primary">Learn More</a>
            </div>
        </div>

    </div>

    <div class="container9" id="4th">
        <video autoplay muted loop>
            <source src="{{ url_for('static', filename='AZURE1.mp4') }}" type="video/mp4">
        </video>
        
        <div class="topbox">
            <h1>Why use Azure Monitor?</h1>
        </div>

        <div class="mainbox">
            <h1>
                <img class="asoslogo" style="vertical-align: middle;" src="https://logo-logos.com/wp-content/uploads/2016/10/Asos_logo.png" alt="Asos Logo" />
               
                "With Azure Monitor, if there's a failure in one region, we transfer traffic to the next region."
                
                <br>
                Cat Smith, Platform lead - Asos
            </h1>
            
            <br>
            <h1>
                <img class="bentleylogo" style="vertical-align: middle;" src="https://status.bentley.com/images/Bentley_Logo_RGB_No_B_No_tag.png" alt="Bentley Logo" />
                "Many monitoring products tend to focus solely on virtual machine architectures. Azure Monitor goes much further, giving full stack visibility, natively integrated into Azure"
                <br>
                Saida Kontrime, Director - Bentley Systems
            </h1>

            <br>
            <h1>
                <img class="mpslogo" style="vertical-align: top;" src="https://www.mpsmonitor.com/wp-content/uploads/2017/05/logo_mpsmonitor-printer-monitoring-in-the-cloud-def.png" alt="mps Logo"/>
                "It ook us less than a day to create an individual widget report [...] If we had needed to engage a developer to create something like this on the front-end framework, it would have taken two weeks. And the analytics wouldn't be
                nearly as beautiful of a visualization."
                <br>
                Alberto Gastaldo, Chief Data Officer - MPS Monitor
            </h1>
            
        </div>
    </div>

    <div class="container10" id="5th">
            <div class="text2">
                <h1> so... </h1>
                <h3>Why</h3>
                <h3>Datadog?</h3>
                <p></p>
            </div>

            <div class="ddogbox">
                <form>
                    <span class="text-center2">
                        
                        <h1>Interwoven Monitoring Solution</h1>
                        <h2> 
                            Azure monitor is interwoven with the underlying application, vm, or service, making aggregate monitoring manual.
                        </h2>

                        <h1>Integrations</h1>
                        <h2>
                            Azure monitoring is only available for windows and linux systems and geared towards .NET applications.
                
                        </h2>

                        <h1>Synthetics and RUM</h1>
                        <h2>
                            Ping tests and multi-step web tests are simplistic and lack the user monitoring capabilities of Datadog.
                        </h2>

                

                        <h1>Proxy Servers</h1>
                        <h2> 
                            No support for proxy server servies such as Nginx.
                        </h2>

                        <h1>Alert Fatigue</h1>
                        <h2> 
                            Azure handles alert fatigue by aggregating the metric values over reduced granularity. No ML alerting capabilities.
                        </h2>

                        <h1>Granularity</h1>
                        <h2> 
                            Azure's highest granularity is 1 minute.
                        </h2>

                        <h1>Log Queries</h1>
                        <h2> 
                            Azure monitor requires understanding of Kusto Query Language to parse logs.
                        </h2>

                        <h1> Superior UI</h1>
                        <h2> Azure Monitor's dashboards and UI are nothing special. </h2>
                    </span>
                </form>	
            </div>    
        

    </div>



</body>


</html>
